.coolr {
    background: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.link h4 {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
}

.header button {
    border-radius: 50px;
    background: linear-gradient(141.34deg, rgb(200, 154, 252) 9.526%, rgb(124, 106, 250) 90.216%);
    color: #fff;
    padding: 10px 20px;
}