.icons {
    margin-top: 105px;
}

.icons__title {
    display: flex;
    gap: 30px;
}

.icons__title h3 {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 20px;
}

.icons__card {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    margin-bottom: 50px;
}

.icons__card img {
    box-shadow: 0 1px 0 1px #ddd;
}